/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2016, 2:00:54 PM
    Author     : BunnyRailgun
*/

.title_screen{
    -fx-background-color: navy;
}
.title_button{
    -fx-background-color: #0066ff;
    -fx-padding: 15;
    -fx-border-color: black;
    -fx-font: 30 Rockwell;
}
.title_buttons_vbox{
    -fx-padding: 20;
    -fx-alignment: center;
}
.title_name{
    -fx-font: 90 Rockwell;
    -fx-stroke: white;
    -fx-stroke-width: 1;
    -fx-padding: 100;
}
.sleep_box{
    -fx-alignment: center;
}
.sleep_dialog{
    -fx-alignment: center;
    -fx-padding: 15;
}
.sleep_question{
    -fx-font: 25 Rockwell;
}
.game_canvas{
    -fx-background-color: black;
}
